<?xml version="1.0"?>
<configuration>
  <system.web>
   
    <globalization
            culture="vi-VN"
            uiCulture="vi-VN"
        />
      <authorization>
        <deny users="?"/>
        <!--<allow users="*"/>-->
      </authorization>
    

    </system.web>
  <location path="UnSubscribe.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UnSubscribeV1.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
